/* Establecer altura mínima del body para ocupar toda la ventana */
html, body {
    height: 100%;
    margin: 0;
}

/* Asegurarse de que el contenedor principal tome toda la altura disponible */
.container {
    min-height: calc(100vh - 100px); /* Restar la altura del footer */
    padding-bottom: 20px; /* Para que el contenido no esté pegado al footer */
}

/* Footer sticky */
.footer {
    height: 100px; /* Ajusta la altura del footer */
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa; /* Fondo claro */
    padding: 20px 0;
    text-align: center;
}

/* Ajustar el texto del footer */
.footer .text-muted {
    margin: 0;
}