/* styles.css */
html, body {
    height: 100%;
    background-color: #cfccccec; /* Gris claro */
    margin: 0; /* Elimina el margen por defecto del body */
    font-family: Arial, sans-serif; /* Fuente predeterminada */
}

.container {
    display: flex;
    flex-direction: column;
 /* Asegura que el contenido se distribuya entre el encabezado y el footer */
    min-height: 90%; /* Hace que el contenedor ocupe al menos la altura total de la ventana */
}

footer {
    /* Sin cambios necesarios aquí, ya que el espacio se ajusta automáticamente */
    margin-top: auto;
    margin-bottom: auto; /* Esto empuja el footer hacia abajo */
}

.contador-envios {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
}